<!-- game.component.html -->
<div class="absolute inset-0 flex flex-row justify-center items-center mt-4">
  <div class="bg-white mx-3 ml-20 h-3/4 w-2/3" name="usersList">
    <p>lista de usuarios</p>
  </div>

  <div class="bg-white h-3/4 w-full" name="draw">
    <div class="bg-red-800 flex flex-row justify-center items-center">
      <div id="timer" class="relative">
        <div id="countdown" class="inset-0 flex justify-center items-center">
          <span id="timer-text" class="bg-white mx-2 my-2 p-4 px-4 rounded-full border-4 border-black text-2xl font-bold text-black"></span>
        </div>
      </div>
      <div>
        <p>palabra</p>
      </div>
    </div>
    <div class="relative h-5/6 flex flex-col">
      <canvas #mainCanvas id="main-canvas" height="480" class="bg-white flex-grow"></canvas>
      <div id="controls" class="bg-gray-100 py-2 px-4 flex justify-center items-center space-x-4">
        <div class="flex flex-col items-start">
          <span>Color:</span>
          <div class="flex items-center space-x-2">
            <button (click)="setColor('#000000')" class="bg-black w-6 h-6 rounded-full"></button>
            <button (click)="setColor('#FF0000')" class="bg-red-500 w-6 h-6 rounded-full"></button>
            <button (click)="setColor('#0000FF')" class="bg-blue-500 w-6 h-6 rounded-full"></button>
            <button (click)="setColor('#008000')" class="bg-green-500 w-6 h-6 rounded-full"></button>
            <button (click)="setColor('#FFFF00')" class="bg-yellow-500 w-6 h-6 rounded-full"></button>
            <button (click)="setColor('#FFA500')" class="bg-orange-500 w-6 h-6 rounded-full"></button>
            <button (click)="setColor('#800080')" class="bg-purple-500 w-6 h-6 rounded-full"></button>
          </div>
        </div>
        <div class="flex flex-col items-start">
          <input class="w-full" type="range" #lineWidthInput id="line-width" min="1" max="10" step="1" value="5">
          <span #lineWidthDisplay id="line-width-display">Grosor: 5</span>
        </div>
      </div>
    </div>
  </div>

  <app-chat class="bg-white mx-3 mr-20 h-3/4 w-2/3"></app-chat>
</div>
